.bg {
    width: 300px; height: 400px;
    background-color: yellow;
}
.bg > div {
    width: 100%; height: 30%;
    position: relative; right: -50px;
}
.bg-rgba {
    background-color: rgba(255, 0, 0, .5);
}
.bg-opacity {
    background-color: rgba(255, 0, 0,);
    opacity: .5;
}
.bg-image {
    background-image: url('.logo.png');
    background-color: gray;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;
}