.square {
    width: 100px; height: 100px;
    position: relative;
    display: inline-block;
}
.red {
    background-color: rgb(255, 0, 0);
    z-index: 100;
}
.green {
    background-color: rgb(0, 255, 0);
    left: -20px; bottom: -20px;
    z-index: 150;
}